body {
  margin: 0;
  background: #70c5ce;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  background: #fff;
  border: 3px solid black;
}

#hud {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  align-items: center;
}
